/*Game Page .css*/

/*First image displayed on the page*/
.background {
  width: 100%;
  height: 50vh;

  overflow: hidden;

  position: absolute;
  z-index: -1;

  top: 0;
  left: 0;
}
.background img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  display: block;

  margin-top: 0px;
}

/*Button navigation*/
.game-buttons {
  display: flex;
  justify-content: center;

  gap: 20px;
  margin-top: calc(40vh + 5px);
}
.game-navigation-btn {
  background-color: rgb(0, 132, 255);
  color: white;

  font-size: 18px;
  cursor: pointer;

  border-radius: 16px;
  border-width: 1px;
  border-color: white;

  width: 150px;
  height: 50px;

  transition: background-color 0.5s ease;
}
.game-navigation-btn:hover {
  background-color: blue;
}

/*Section (overview/contribution)*/
.section {
  display: none;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 100%;
  height: auto;
}
#overview-section {
  background-color: transparent;
}

#contribution-section {
  background-color: transparent;
}

/*Line text*/
.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  border-radius: 32px;

  padding: 0px;

  background-color: rgb(46, 84, 119);
}
.line img {
  max-width: 100%;
  height: auto;
  max-height: 300px;
  width: auto;
  object-fit: contain;
  margin: 5px;
  border-radius: 32px;
}
.line p {
  font-size: 18px;
  color: white;
  font-family: "Courier New", Courier, monospace;

  margin-left: 100px;
  margin-right: 100px;
  width: 100%;

  word-wrap: break-word;
  overflow-wrap: break-word;
}

/*Line with only one thing*/
.line-text-only {
  justify-content: center;
  text-align: center;
  display: flex;
  width: 100%;

  padding: 0;
  margin: 0;
}
.line-text-only p {
  padding: 0;
  margin: 0;
  width: 100%;

  margin-top: 30px;
  margin-bottom: 30px;

  word-wrap: break-word;
  overflow-wrap: break-word;
}

.line-img-only {
  justify-content: center;
  width: 100%;
  display: flex;
}
.line-img-only img {
  max-height: 300px;
  display: block;
}

/*reference youtube video*/
.youtube-video {
  width: 100%;
  margin: 20px, auto;
  margin-top: 10px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.youtube-video iframe {
  width: 100%;
  max-width: 800px;
  height: 450px;

  border-radius: 32px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/*Team FOOTER*/
.team-grid {
  display: grid;

  margin: 0;
  padding: 0;
}

.team-line {
  display: flex;
  align-items: center;

  font-family: Impact;
  font-size: 18px;
  font-weight: lighter;

  margin: 0;
  padding: 0;
}

.team-line h4 {
  margin: 0;
  padding: 0;

  font-size: 20px;
  font-weight: lighter;

  margin-right: 10px;
}

.team-line a {
  margin: 0;
  padding: 0;

  color: white;
  text-decoration: none;
font-family: 'Courier New';

  margin-right: 1px;
}

.team-line a:hover {
  text-decoration: underline;
}